@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Quicksand|Raleway|Roboto');

body {
  background-color: #fff;
  padding: 5px;
  margin: 0;
  font-family: Quicksand;
}

.App {
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 75px;
}

.App-header {
  border-bottom: 1px solid #ccc;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-subTitle {
  font-size: 0.75em;
  font-weight: normal;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1, h2, p, ul, li {
}

strong {
  font-weight: bold;
}

header .logo-image{
  float: left;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  float: right; 
  padding: 0;
}
ul.header li a {
  color: #888;
  font-weight: normal;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.project-row{
	padding: 20px;
	width: 95%;
	clear: both;
	display: inline-block;
	border-bottom: 1px solid #eee;
}

.project-row-image{
	min-width: 200px;
	width: 30%;
	float: left;
}

.project-row-desc{
	min-width: 400px;
	width: 68%;
	float: left;
	padding: 0 0 0 2%;
}
.project-list{
	list-style-type: none;
}
